.nav_1 img,
.nav_2 img,
.nav_3 img,
.nav_4 img {
  opacity: 0;
  animation-fill-mode: forwards;
}

.nav_1 img {
  animation-name: ani_l1;
  animation-delay: 0.3s;
  animation-duration: 0.6s;
  -moz-animation-name: ani_l1;
  -moz-animation-delay: 0.3s;
  -moz-animation-duration: 0.6s;
  -webkit-animation-name: ani_l1;
  -webkit-animation-delay: 0.3s;
  -webkit-animation-duration: 0.6s;
}

.nav_2 img {
  animation-name: ani_l2;
  animation-delay: 0.45s;
  animation-duration: 0.6s;
  -moz-animation-name: ani_l2;
  -moz-animation-delay: 0.45s;
  -moz-animation-duration: 0.6s;
  -webkit-animation-name: ani_l2;
  -webkit-animation-delay: 0.45s;
  -webkit-animation-duration: 0.6s;
}

.nav_3 img {
  animation-name: ani_l3;
  animation-delay: 0.55s;
  animation-duration: 0.6s;
  -moz-animation-name: ani_l3;
  -moz-animation-delay: 0.55s;
  -moz-animation-duration: 0.6s;
  -webkit-animation-name: ani_l3;
  -webkit-animation-delay: 0.55s;
  -webkit-animation-duration: 0.6s;
}

.nav_4 img {
  animation-name: ani_l4;
  animation-delay: 0.65s;
  animation-duration: 0.6s;
  -moz-animation-name: ani_l4;
  -moz-animation-delay: 0.65s;
  -moz-animation-duration: 0.6s;
  -webkit-animation-name: ani_l4;
  -webkit-animation-delay: 0.65s;
  -webkit-animation-duration: 0.6s;
}

@keyframes ani_l1 {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes ani_l2 {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes ani_l3 {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes ani_l4 {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-moz-keyframes ani_l1 {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@-moz-keyframes ani_l2 {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-moz-keyframes ani_l3 {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-moz-keyframes ani_l4 {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes ani_l1 {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes ani_l2 {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes ani_l3 {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes ani_l4 {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.moreabout .card,
.about .card,
.contacts .card,
.services .card,
.accomplishments .card,
.awards .card,
.projects .card,
.designs .card,
.home {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: moreabout_load;
  animation-duration: 0.4s;
  -moz-animation-fill-mode: forwards;
  -moz-animation-name: moreabout_load;
  -moz-animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: moreabout_load;
  -webkit-animation-duration: 0.4s;
}

@keyframes moreabout_load {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-moz-keyframes moreabout_load {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes moreabout_load {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* couters */

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

#projects_value {
  animation: project_counter 1.5s forwards alternate ease-in-out;
  counter-reset: num var(--num);
  font: 600 24px system-ui;
}

#projects_value::after {
  content: counter(num);
}

@keyframes project_counter {
  from {
    opacity: 0;
    --num: 0;
  }
  to {
    opacity: 1;
    --num: 5;
  }
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

#awards_value {
  animation: awards_counter 1.5s forwards alternate ease-in-out;
  counter-reset: num var(--num);
  font: 600 24px system-ui;
}

#awards_value::after {
  content: counter(num);
}

@keyframes awards_counter {
  from {
    opacity: 0;
    --num: 0;
  }
  to {
    --num: 6;
    opacity: 1;
  }
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

#logo_value {
  animation: logo_counter 1.5s forwards alternate ease-in-out;
  counter-reset: num var(--num);
  font: 600 24px system-ui;
}

#logo_value::after {
  content: counter(num);
}

@keyframes logo_counter {
  from {
    opacity: 0;
    --num: 0;
  }
  to {
    --num: 12;
    opacity: 1;
  }
}

/* skills animation */

.skills .html div div {
  animation: html 1.5s ease-out forwards;
  animation-delay: 0s;
  -webkit-animation: html 1.5s ease-out forwards;
  -webkit-animation-delay: 0s;
  -moz-animation: html 1.5s ease-out forwards;
  -moz-animation-delay: 0s;
}

.skills .css div div {
  animation: css 1.5s ease-out forwards;
  animation-delay: 0.1s;
  -webkit-animation: css 1.5s ease-out forwards;
  -webkit-animation-delay: 0.1s;
  -moz-animation: css 1.5s ease-out forwards;
  -moz-animation-delay: 0.1s;
}

.skills .js div div {
  animation: js 1.5s ease-out forwards;
  animation-delay: 0.2s;
  -webkit-animation: js 1.5s ease-out forwards;
  -webkit-animation-delay: 0.2s;
  -moz-animation: js 1.5s ease-out forwards;
  -moz-animation-delay: 0.2s;
}

.skills .mysql div div {
  animation: mysql 1.5s ease-out forwards;
  animation-delay: 0.3s;
  -webkit-animation: mysql 1.5s ease-out forwards;
  -webkit-animation-delay: 0.3s;
  -moz-animation: mysql 1.5s ease-out forwards;
  -moz-animation-delay: 0.3s;
}

.skills .php div div {
  animation: php 1.5s ease-out forwards;
  animation-delay: 0.4s;
  -webkit-animation: php 1.5s ease-out forwards;
  -webkit-animation-delay: 0.4s;
  -moz-animation: php 1.5s ease-out forwards;
  -moz-animation-delay: 0.4s;
}

.skills .c-sharp div div {
  animation: c-sharp 1.5s ease-out forwards;
  animation-delay: 0.5s;
  -webkit-animation: c-sharp 1.5s ease-out forwards;
  -webkit-animation-delay: 0.5s;
  -moz-animation: c-sharp 1.5s ease-out forwards;
  -moz-animation-delay: 0.5s;
}

.skills .c div div {
  animation: c 1.5s ease-out forwards;
  animation-delay: 0.6s;
  -webkit-animation: c 1.5s ease-out forwards;
  -webkit-animation-delay: 0.6s;
  -moz-animation: c 1.5s ease-out forwards;
  -moz-animation-delay: 0.6s;
}

.skills .cpp div div {
  animation: c 1.5s ease-out forwards;
  animation-delay: 0.7s;
  -webkit-animation: cpp 1.5s ease-out forwards;
  -webkit-animation-delay: 0.6s;
  -moz-animation: cpp 1.5s ease-out forwards;
  -moz-animation-delay: 0.6s;
}

.skills .python div div {
  animation: python 1.5s ease-out forwards;
  animation-delay: 0.8s;
  -webkit-animation: python 1.5s ease-out forwards;
  -webkit-animation-delay: 0.7s;
  -moz-animation: python 1.5s ease-out forwards;
  -moz-animation-delay: 0.7s;
}

.skills .java div div {
  animation: java 1.5s ease-out forwards;
  animation-delay: 0.9s;
  -webkit-animation: java 1.5s ease-out forwards;
  -webkit-animation-delay: 0.8s;
  -moz-animation: java 1.5s ease-out forwards;
  -moz-animation-delay: 0.8s;
}

@keyframes html {
  from {
    width: 0%;
  }
  to {
    width: 98%;
  }
}

@keyframes css {
  from {
    width: 0%;
  }
  to {
    width: 86%;
  }
}

@keyframes js {
  from {
    width: 0%;
  }
  to {
    width: 65%;
  }
}

@keyframes mysql {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

@keyframes php {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@keyframes c-sharp {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}

@keyframes c {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

@keyframes cpp {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@keyframes python {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@keyframes java {
  from {
    width: 0%;
  }
  to {
    width: 82%;
  }
}

/*  */

@-webkit-keyframes html {
  from {
    width: 0%;
  }
  to {
    width: 98%;
  }
}

@-webkit-keyframes css {
  from {
    width: 0%;
  }
  to {
    width: 86%;
  }
}

@-webkit-keyframes js {
  from {
    width: 0%;
  }
  to {
    width: 65%;
  }
}

@-webkit-keyframes mysql {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

@-webkit-keyframes php {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@-webkit-keyframes c-sharp {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}

@-webkit-keyframes c {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

@-webkit-keyframes cpp {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@-webkit-keyframes python {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@-webkit-keyframes java {
  from {
    width: 0%;
  }
  to {
    width: 82%;
  }
}

/*  */

@-moz-keyframes html {
  from {
    width: 0%;
  }
  to {
    width: 98%;
  }
}

@-moz-keyframes css {
  from {
    width: 0%;
  }
  to {
    width: 86%;
  }
}

@-moz-keyframes js {
  from {
    width: 0%;
  }
  to {
    width: 65%;
  }
}

@-moz-keyframes mysql {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

@-moz-keyframes php {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@-moz-keyframes c-sharp {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}

@-moz-keyframes c {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

@-moz-keyframes cpp {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@-moz-keyframes python {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@-moz-keyframes java {
  from {
    width: 0%;
  }
  to {
    width: 82%;
  }
}

/* theme */

.backdrop-dark {
  animation-fill-mode: forwards;
  animation-name: b-dark;
  animation-duration: 1s;
  -moz-animation-fill-mode: forwards;
  -moz-animation-name: b-dark;
  -moz-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: b-dark;
  -webkit-animation-duration: 1s;
}

@keyframes b-dark {
  from {
    background: url("../images/bg_light.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  to {
    background: url("../images/bg_dark.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-moz-keyframes b-dark {
  from {
    background: url("../images/bg_light.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  to {
    background: url("../images/bg_dark.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-webkit-keyframes b-dark {
  from {
    background: url("../images/bg_light.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  to {
    background: url("../images/bg_dark.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.backdrop-light {
  animation-fill-mode: forwards;
  animation-name: b-light;
  animation-duration: 1s;
  -moz-animation-fill-mode: forwards;
  -moz-animation-name: b-light;
  -moz-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: b-light;
  -webkit-animation-duration: 1s;
}

@keyframes b-light {
  from {
    background: url("../images/bg_dark.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  to {
    background: url("../images/bg_light.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-moz-keyframes b-light {
  from {
    background: url("../images/bg_dark.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  to {
    background: url("../images/bg_light.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-webkit-keyframes b-light {
  from {
    background: url("../images/bg_dark.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  to {
    background: url("../images/bg_light.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.greeting {
  animation-name: shake;
  animation-duration: 1s;
  animation-iteration-count: 5;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
